
*{
    padding: 0;
    margin:0;
}
.Hz{
    background-color: #3ad648;
    width: 100px;
    height: 100px;
    position: absolute;
    top:-100px;
    /*top: 800px;*/
    /*visibility:hidden;*/

}
#box1{
    margin-left: 200px;
}
#box2{
    margin-left: 350px;
    /*animation-delay:2s;*/
}
#box3{
    margin-left: 500px;
}
#box4{
    margin-left: 660px;
}
#box5{
    margin-left: 800px;
}
#box6{
    margin-left: 1200px;
}
#box7{
    margin-left: 1400px;
}
@keyframes move {
    0%{top:740px}
    100%{top: -100px}
}